* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.contenedor img {
    height: 600px;
    width: 49.5%;
}

.formulario {
    width: 48%;
}

.nombre{
    display: block;
    width: 100%;
    height: 2rem;
    font-size: 14px;
    padding: 10px;
    border: 1px solid  #FF490D;
    border-radius: .25rem;
    color: #FF490D;
    margin-bottom: 15px;
}
.contenedor-interior {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    height: 85px;
    margin-bottom: 10px;
}

.correo , .contraseña {
    height: 2rem;
    font-size: 14px;
    padding: 10px;
    border: 1px solid  #FF490D;
    border-radius: .25rem;
    color: #FF490D;
}
.formulario label{
    margin-left: 4px;
    font-size: 16px;
}
.formulario label a{
    margin-left: 4px;
    text-decoration: none;
    color: #FF490D;
}
.btn {
    display: block;
    width: 70%;
    margin: 10px auto;
    padding: 1rem 1.5rem;
    background-color: #FF490D;
    color: #ffffff;
    border: none;
    border-radius: 3rem;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.error {
    display: none;
    width: 80%;
    margin: 5px auto;
    border-radius: 10px;
    color: #3f3d56;
    font-size: 16px;
    font-weight: bold;
}
.error:first-child {
    margin-top: 10px;
}
